*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.webname{
    text-transform: uppercase;
    font-family:Ojuju;
    color:white;
    font-size: 25px;
    font-weight:bold;
    letter-spacing: 10px;
}
.list{
     font-family: Poppins,sans-serif;
}
.wrapper{
    width:100%;
    height:100vh;
    background-image: linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3));
    position:relative;
    padding:0 5%;
    display:flex;
    justify-content: center;
    align-items: center;
}
nav{
    width:100%;
    position:absolute;
    top:0;
    left:0;
    padding:20px 5%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: rgba(89, 84, 84, 0.5);
    font-weight: 400;
}

nav h2{
    letter-spacing: 10px;
    word-spacing: 5px;
    position: relative;
    right:50px;
}
li{
    list-style: none;
    display: inline-block;
    margin-left:40px; 
}
ul li a{
    color:white;
    font-size: 18px;
    text-decoration: none;
    letter-spacing: 3px;
    
}
ul li a:hover{
    color:black;
    letter-spacing: 5px;
}
.content{
    text-align: center;
    margin-top:50px;
}
.content h1{
    text-transform:uppercase;
    font-size: 100px;
    color:white;
    font-weight: 600;
    letter-spacing: 10px;
    word-spacing: 5px;
    transition:0.5s;
}
.content h1:hover{
    -webkit-text-stroke:2px white;
     color:transparent;
}
.content h4{
    font-size:25px;
    color:white;
    text-transform: uppercase;
    word-spacing: 10px;

}
.content h3{
    margin-top:15px;
    color:white;
    font-size: 1.5rem;
    word-spacing: 5px;
}
.content a{
    text-decoration: none;
    display: inline-block;
    color:white;
    padding:10px 15px;
    border-radius:50px;
    font-size: 18px;
    border:2px solid white;
    margin-top:30px;
    text-transform:uppercase;
    word-spacing: 3px;
}
.bv{
    position:absolute;
    right:0;
    bottom:0;
    z-index: -1;
}
span.text{
    color:rgb(23, 184, 216);
}

/*css for form*/
.container{
    background-image:url("tour.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    height:100vh;
    margin:0;
    display:flex;
    justify-content: center;
    align-content: center;
    backdrop-filter: blur(3px) ; 
    filter: brightness(0.8);
}
.wrapper1{
    padding:20px;
    background-color: rgba(0, 0, 0, 0.311);
    display:flex;
    flex-direction: column;
    width:350px;
    align-items: center;
    margin: auto;
    position: relative;
    border-radius: 25px;
    color:white;
    box-sizing: border-box;
    border:2px solid rgb(0, 195, 255);
 
}
.input{
   padding-bottom: 20px;
}
.input input{
    padding:12px;
    border-radius: 10px;
    width: 230px;
    font-size:0.8rem;
}
.input input:hover{
    border:none;
}
.btn button{
   position:relative;
   left:70px;
   padding: 10px;
   border-radius: 10px;
   width:90px;
   font-size:14px;
   border:none;
   text-transform: uppercase;
}
.header{
    padding-bottom:20px;
}
.btn button:hover{
 background-color:rgb(59, 109, 247);
 color:white;
}
.rem{
    margin-bottom:30px;
}
.remme{
    font-size: large;
}
.header h1{
    text-transform: uppercase;
}
